<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Tyler Brangman</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
</head>

<html>
<body>

<div class="logo-about">
	<a href="{{ site.baseurl }}">Tyler Brangman</a>
	<p>Design + Development + Data Visualization</p>
</div>

<a class="say-hello" href="mailto:brangman.tyler@gmail.com">&#x1f44b;</a>

<div class="more-info">
	<a href="https://www.dropbox.com/s/26n10t88mlfx8ng/Tyler%20Brangman%20%28Dec%202018%29.pdf?dl=1">Resume</a>
	<a target=”_blank” href="https://www.linkedin.com/in/tylerjbrangman/">LinkedIn</a>
	<a target=”_blank” href="https://github.com/tbrangman">Github</a>
</div>

<div class="container">
{{ content }}
</div>

<footer>&copy; 2018</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>

</body>
</html>